public/js/*
public/css/*
public/directives/*
public/partials/*
public/*.html
public/event-images/*
.idea/*
projectFilesBackup/*
node_modules/*
bower_components/*
npm-debug.log
*.db
*.swp
.sublime-gulp.cache
