footer
    .middle
        .left
            ul
                li
                    a(ui-sref="about") About
                li
                    a(href="http://blog.schedulenaut.com") Blog
                li
                    a(href="http://github.com/jssolichin/schedulenaut") Github
                li
                    a(href="mailto:jssolichin@gmail.com") Support & Contact
        span.right
            a(href="#") Schedulenaut &copy; 2015
script(src='public/js/main.js')