head
	meta(charset='utf-8')
	base(href="/")

	title="Schedulenaut"
	meta(http-equiv='Content-type', content='text/html;charset=UTF-8')

	link(rel='stylesheet', href='public/css/style.css')

	script(src='bower_components/jquery/dist/jquery.js')
	script(src='bower_components/angular/angular.js')
	script(src='bower_components/angular-ui-router/release/angular-ui-router.js')

	script(src='bower_components/jquery-timepicker-jt/jquery.timepicker.js')
	link(rel='stylesheet', href='bower_components/jquery-timepicker-jt/jquery.timepicker.css')

	script(src='bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js')
	link(rel='stylesheet', href='bower_components/bootstrap-datepicker/css/datepicker.css')

	script(src='bower_components/datepair/dist/datepair.js')

	script(src='bower_components/angular-xeditable/dist/js/xeditable.js')
	link(rel='stylesheet', href='bower_components/angular-xeditable/dist/css/xeditable.css')

	link(rel='stylesheet', href='bower_components/animate-css/animate.css')

	script(src='bower_components/ngFx/dist/ngFxBundle.js')

	link(rel='stylesheet', href='bower_components/Ionicons/css/ionicons.css')
