head
	meta(charset='utf-8')
	base(href="/")

	title="Schedulenaut"
	link(rel="icon" href="public/images/favicon.ico" type="images/x-icon")
	meta(http-equiv='Content-type', content='text/html;charset=UTF-8')

	script(src='bower_components/jquery/dist/jquery.js')
	script(src='bower_components/angular/angular.js')
	script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-sanitize.js')
	script(src='bower_components/angular-ui-router/release/angular-ui-router.js')

	script(src='bower_components/jquery-timepicker-jt/jquery.timepicker.js')
	link(rel='stylesheet', href='bower_components/jquery-timepicker-jt/jquery.timepicker.css')

	script(src='bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js')
	link(rel='stylesheet', href='bower_components/bootstrap-datepicker/css/datepicker.css')

	script(src='bower_components/datepair/dist/datepair.js')

	script(src='bower_components/angular-xeditable/dist/js/xeditable.js')
	link(rel='stylesheet', href='bower_components/angular-xeditable/dist/css/xeditable.css')

	link(rel='stylesheet', href='bower_components/animate-css/animate.css')

	script(src='bower_components/ngFx/dist/ngFxBundle.js')

	link(rel='stylesheet', href='bower_components/Ionicons/css/ionicons.css')

	script(src='bower_components/timezone-js/src/date.js')

	script(src='bower_components/angular-ui-select/dist/select.js')
	link(rel='stylesheet', href='bower_components/angular-ui-select/dist/select.css')
	link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css')

	//detect timezone
	script(src='//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js')

	//my stylesheet
	link(rel='stylesheet', href='public/css/style.css')
