extends templates/default

block content
    nav
        ul
            li
                a(ui-sref="index") Index
            li
                a(ui-sref="scheduler") Scheduler
            li
                a(ui-sref="about") About
            li
                a(href="http://jssolichin.com:1337") Developer Blog
    hr
    div(ui-view)

