#event {
  & > header {background: #eee; padding: 20px 0;
    h1, p {background: #fff; padding: 0 5px; margin: 0px; display: table; margin-bottom: 10px;
      &:last-child {margin-bottom: 0px;}
    }
  }
  #toolbar {margin: 20px 0;
    ul { padding: 0px;
      li {list-style-type: none;margin-right: 10px; .left;
        &:last-child {margin-right: 0px}
      }
    }
  }
  #main {width: calc(~"75% - 20px");}
  #sidebar {width: 25%;
    aside{ border: 1px solid #eee; border-radius: @radius; font-size: .9em;
      header {text-transform: uppercase; font-size: .8em; font-weight: bold; background: #eee; padding: 5px 10px;}
      article {
        ul { margin: 0px; padding: 0px;
          li {padding: 0 10px; line-height: 1.8em; list-style-type: none; border-bottom: 1px solid #eee;
            &:last-child {border: 0px;}
            a {margin-right: 10px;  color: #777;
              &:last-child {margin-right: 0px}
              :hover {color: #000; }
              &:hover .ion-close {color: @red;}
            }
            &.addGuest {background: #eee; text-align: center;}
          }
        }
      }
    }

  }
}
