#event {
  & > header { padding: 20px 0; position: relative;
    background: #eee; background-repeat: no-repeat; background-attachment: fixed; background-position: 50% 0; background-size: cover;
    h1,p {margin: 0px;}
    ul#event-details {padding: 0px; margin: 0px;
      li {background: #fff; padding: 0 5px; margin: 0px; display: table; margin-bottom: 10px; border-radius: @radius;
        &:last-child {margin-bottom: 0px;}
        .details-lock {margin-left: 10px; color: #ccc; cursor: pointer;
			.ion-locked {color: @green;}	
		}
        input {border: 0px; border-bottom: 1px solid #eee; margin-right: 5px; width: 75px; margin-top: 2px;
          &:last-child {margin-right: 0px;}
        }
      }
    }
    #event-tools { margin: 0px; list-style-type: none;
        li { margin-bottom: 5px; 
           &:after {content:""; display:table; clear:both;} 
           &.active .hint {background: #fff;  width: auto;}
           p {padding: 0 5px; border-radius: @radius;}
        }
        li#event-status {
			ul {list-style-type: none}
			.button {padding: 2px 5px; background: #fff;
				&.on {background: @green;}	
				&:last-child {margin-left: -1px;}
			}
        }
        .hint{ position: relative; padding: 2px 5px 3px 4px; background: rgba(255,255,255,.6);
          &.active {background: @accent !important; color: #fff;}
          width: 1em; height: calc(~"1em + 5px"); overflow: hidden; border-radius: @radius;
          &:hover {background: #fff;  width: auto;}
          span{margin-right: 5px; cursor: pointer;}
          input { position: absolute; top: 0px; left: 0px; opacity: 0; cursor: pointer; width: 100%; height: 100%; }
        }
    }
    #drop-hint-wrapper { text-align: center; display: none; position: absolute; left: 50%;top: 20px; pointer-events: none;
      #drop-hint {left:-50%; position: relative;}
      h1 { background: none; display: block; }
    }
  }
  #toolbar {margin: 20px 0;
    ul { padding: 0px;
      & > li {list-style-type: none;margin-right: 20px;
        &:nth-child(2) {margin-right: 0px}
        span {font-size: .8em; text-transform: uppercase; margin-right: 10px;}
        select {display: block;}
      }
    }
  }
  #main { width: calc(~"75% - 20px");
    #visualization { border: 1px solid #eee; border-radius: @radius;
      #edit-dates-button {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #edit-dates {
        margin-bottom: 20px;
        .popover {
          padding: 10px 20px 10px 10px;
        }
      }
    }
  }
  #importer {font-size: .9em;
    .module {border: 1px solid #eee; border-radius: @radius; margin-top: 5px; padding: 5px;
      header {text-transform: uppercase; font-size: .7em; font-weight: bold; background: #eee; padding: 5px 10px; margin: -5px -5px 5px -5px;}
      a.button {display: inline-block;}
      &:first-child {margin-bottom: 0px }
    }
    .hint {background: #eee; font-size: .7em; padding: 5px 10px;
      &.info {background: #FFDB4C; border: 0px;}
    }
  }
  #sidebar {width: 25%; margin-top: 15px;
    aside{ border: 1px solid #eee; border-radius: @radius; font-size: .9em; margin-top: 10px;
      &:first-child {margin-top: 0px;}
      header {text-transform: uppercase; font-size: .7em; font-weight: bold; background: #eee; padding: 5px 10px;}
      article {
        h2 {
          font-size: .7em;
          font-weight: normal;
          text-transform: uppercase;
          margin: 5px 10px 3px 10px;
        }
        ul { margin: 0 0 10px 0; padding: 0px; border: 1px solid #eee; border-left:0px; border-right: 0px;
          &:last-child {margin-bottom: 0px; border-bottom: 0px;}
          &#guests-list {
            & >li {
              &.editing { color: #fff; background: @accent;
                .icon {color: rgba(255,255,255,.8);
                    &.ion-edit {color: #fff;}
                    &.ion-eye {display: none;}
                    &:hover {color: #fff;} 
                } 
              }
              &:hover, &.hover {border-left: 2px solid @accent; padding-left:  8px;}
              &.editing:hover, &.editing.hover {border-left: 2px solid rgba(255,255,255,.7);}
              &:last-child:hover {border: none; padding-left: 5px;}
            }     
          }
          li {padding: 0 10px; line-height: 1.8em; list-style-type: none; border-bottom: 1px solid #eee;
            &:last-child {border: 0px;}
            .tools {
              a {margin-right: 10px;  color: #777;
                &:last-child {margin-right: 0px}
                :hover {color: #000; }
                &:hover .ion-close {color: @red;}
              }
            }
            span.user { font-size: .7em; text-transform: uppercase; background: #eee; border-radius: @radius; vertical-align: text-top;
              display: inline-block; line-height: 1.8em; padding: 0 5px; margin-right: 5px; }
            form#newMessage {margin: 10px 0;
              button {margin-top: 5px;}
            }
            &.addGuest {cursor: pointer; padding: 5px;
              a.button {padding: 3px 10px;}
              &.active .button {.button.active;}
            }
          }
        }
      }
    }

    .mail-services {
        ul {border: 0px;}
        li { border: 0px; margin-bottom: 10px;
            &:last-child {margin-bottom: 0px;}
            .button {display: block; text-align: center;} 
        }
    }
  }
  .invitation {
    h1 {font-size: 2em;}
    section {margin-bottom: 40px;}
    h2 {font-weight: normal; font-size: 1.3em; } 
    ul {list-style-type: none; margin: 0px; padding: 0px;
      &:after {content:""; display:table; clear:both;} 
      li {float: left; padding:8px 10px 4px 10px; margin-right: 10px; border: 1px solid #ccc; border-radius: @radius;}
    }
  }
}
