.state-index {
	header.top {
	  filter: invert(100%); 
	  -webkit-filter: invert(100%);
	  -moz-filter: invert(100%);
	  -ms-filter: invert(100%);
	  -o-filter: invert(100%);
	}
	#bgVideo {
		background-color: #000;
		//background: linear-gradient(to bottom, #001842 1%,#86969e 67%,#a08e7a 87%,#d38f28 97%,#000000 100%);
		position: absolute; right: 0; top: 0; min-width: 100%; height: 100%; z-index: -100; 
    background-size: cover;
	}
  footer {
    margin-top: 0px; padding: 15px 0 40px 0; 
  }
}
#index {
  .slide {
    padding: 100px; border-bottom: 1px solid #eee;
    &:last-child {border-bottom: 0px;}
    &.white {
      background: #fff;
    }
    h1 {font-size: 2.5em; margin: 0px;}
    p {font-size: 1.2em; line-height: 1.6em;}
    b {border-bottom: 2px solid @accent; font-weight: normal;}
    .full { width: 100%; }
    .three-fourths {width: 75%;
      &.center {margin: 0 auto; text-align: center;}
    }
    .half {width: ~"calc(50% - 40px)"; padding: 20px;}

    &.launch {background: linear-gradient(to bottom, #1D77EF 0%, #81F3FD 100%); color: #fff;
       .lift-off-button {
          cursor: pointer;
          display: block;
          margin: 50px auto 0 auto;
          width: 100px; 
          background-color: @accent;
          font-weight: bold;
          text-transform: uppercase;
          padding: 10px;
          border-radius: 10px;
          border-bottom: 10px solid;
          border-bottom-color: @accent - #111;;
          box-shadow: -10px 10px 0px grey, 10px 10px 0px grey, -10px 20px 0px #333, 10px 20px 0px #333;
          &:hover { background: @accent + #111}
          &:active { margin-top: 60px; border-bottom-width: 0px;}
          position: relative;
          z-index: 9;
        }
        .spaceship {font-size: 4em; margin-top: -1em; display: block; position: relative; z-index: 8; color: #333;}
    }
  }
 
  #create-form{ width: 80%; margin: 100px auto 190px auto; padding: 10px; border-radius: 3px;
    //input, button {box-shadow: 0px 1px 3px rgba(0,0,0,0.3);}
    &.expanded {background: #fff; box-shadow: 0px 1px 3px rgba(0,0,0,0.3); transition: all .15s ease-in-out;
      input, button {box-shadow: none;}
    }
    #hint {background: url(../images/arrow.svg) no-repeat; padding: 6px 0 0 25px; position: absolute; top: 75px;left : 25px; transition: opacity .10s ease-in-out; opacity: 1;color: #eee;}
    #hint.hidden {opacity: 0; pointer-events: none;}
    #event-name {font-size: 1.5em; padding: 10px; border-radius: @radius; border: 1px solid #ccc; width: 65%;}
    button {font-size: 1.5em; padding: 14px;margin-left: 10px; border: 0px; border-radius: @radius; width: calc(~"35% - 33px");background: @accent; color: #fff;
		&:hover {background: @accent + #111;}
		&:active {background: @accent - #111;}
	}
    button[disabled] {background: #eee; color: #999; border: 1px solid #ccc;}
    .hidden-form {margin: 10px 10px 0 10px;
      .left {width:34%;
        #calendar {margin-left: -5px;}
      }
      .right {width: calc(~"66% - 20px");
        input[type="radio"]{margin: 0 5px;
          & + input[type="radio"] {margin-left: 50px;}
        }
        textarea, input[type="text"]{width: calc(~"100% - 10px");}
        textarea {height: 100px}
      }
    }
  }
}
