@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);

@radius: 3px;
@green: #4CD964;
@red: #FF3B30;
//@accent: #5856D6;
@accent: #FF9500;

body {border-top: 2px solid @accent; color: #333; padding: 0px; margin: 0px;}
body, textarea, input {font-family: 'Open Sans', sans-serif; }
.super {vertical-align: super; font-size: .5em; margin-left: 5px;}
.strike {text-decoration: line-through;}
.disabled-opacity {opacity: .3}

//global
svg {margin-bottom: -4px}
form{
    &.full-width {
    input, textarea {width: calc(100% - 10px);}
}
  .error {color: @red; text-transform: uppercase; font-size: .7em; line-height: 1.6em;}
  &.small-labels label {font-size: .7em;}
  label {margin-top: 10px; color: #777; margin-bottom: 5px; display: block;
    &:first-child {margin-top: 0px;}
    span {color: @red;}
  }
  textarea, input {padding: 5px; border-radius: @radius; border: 1px solid #ccc;
    &.ng-invalid.ng-dirty { background: @red;  }
  }
  button {.button; 
    & + button {margin-left: 10px;} 
  }
}
.middle {max-width: 960px; margin: 0 auto; position: relative;} //page middle
.left {float: left;}
.center {display: table; margin-left: auto; margin-right: auto;}
.right {float: right;}
.clearfix:after {content:""; display:table; clear:both;}
.button {padding: 5px 10px; background: #eee; color: #333; border-radius: @radius; text-decoration: none; cursor: pointer; border: 0px;
    & + .button {margin-left: 10px;}
  &.subtle {background: #fff; text-decoration: underline; color: #777;
    &:hover {color: #333;} 
  }
  //&.on {border: 1px solid @green; }
	.symbol {border-color: #333;}
  &.on {background: @green; color: #fff;
	.symbol {border-color: #fff;}
	&:hover {background: @green - #111;}
  }
  &:hover {background: #ddd;}
  &:active, &.active {background: #ccc; }
  &[disabled], &.disabled {border: 1px solid #ccc; color: #ccc; background: transparent; cursor: default;}
  i {margin-right: 7px;}
  &.accented {border: 1px solid  @accent;
		&:hover {background: @accent + #111;}
		&:active {background: @accent - #111;}
	}
}
.combo-button {
  li { margin-right: 0px !important; float: left;
    &:first-child .button {border-radius: @radius 0px 0px @radius;};
    &:last-child .button {border-radius: 0px @radius @radius 0px;};
    .button.alone {border-radius: @radius;}
  }
}
.grey-small-hint { font-size: .7em; text-transform: uppercase; line-height: 1.2em; display: inline-block; padding: 5px; margin: 10px 0; border-radius: 3px; background: #eee; }

//state specific style
//body.state-index {background: url(../images/index-background.jpg) no-repeat center center fixed; background-size: cover; }
body.state-about {background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 45%), url(../images/index-background.jpg) no-repeat center center fixed; background-size: cover; }

//media queries
@media only screen and (max-width: 980px) {
  .middle {margin: 0 20px;}
}

//header
@import (less) "header.less";

//pages
@import (less) "event/page.less";
@import (less) "index/page.less";

//calendar
@import (less) "scheduler/calendar.less";
@import (less) "scheduler/scrub.less";
@import (less) "scheduler/tooltip.less";

//misc
.symbol { width: .7em; height: 1em; vertical-align: top; display: inline-block; border-width: 1px; border-style: solid; border-radius: @radius; margin: .3em .5em 0 0;
  &.free {height: .65em;}
  //&.preferred { background: @green;}
}

.popover-wrapper{ position: absolute; z-index: 99; pointer-events: none;
  .popover {pointer-events: all; padding: 10px; position: relative; left: -50%; background: #fff; border-radius: @radius; box-shadow: 0px 1px 3px rgba(0,0,0,0.3); 
    form {
      button {margin-top: 20px;}
    }
  }
  .top:after { content: ""; position: absolute; width: 0; height: 0; border-width: 10px; border-style: solid; border-color: transparent transparent #fff transparent; top: -20px; left: calc(~"50% - 10px"); }
  .bottom:after { content: ""; position: absolute; width: 0; height: 0; border-width: 10px; border-style: solid; border-color: #fff transparent transparent transparent; bottom: -20px; left: calc(~"50% - 5px"); }
    .hint {background: #eee; font-size: .7em; padding: 5px 10px; line-height: 1.3em;
      &.info {background: #FFDB4C; border: 0px;}
    }
}

.editable-text {margin-bottom: 10px;}
.editable-click, a.editable-click { font-style: italic; color: #333; border: 0; border-radius: @radius;
  &:hover { color: @accent; }
}
p.hint {font-size: .7em; padding: 0 10px; }

article.text { width: 80%; max-width: 710px; margin: 40px auto 100px auto;
  h1,h2,h3,h4,h5 {font-weight: 800; margin: 0;}
  a {color: @accent;
    &:hover {color: @accent + #222; }
  }
  h1 {font-size: 3em; text-align: center; margin: 50px 0 40px 0; padding-bottom: 30px;}
  h2 {font-size: 2.5em; margin-bottom: .4em;}
  p {line-height: 1.7em; margin: 0 0 1.7em 0;}
}
