article.middle.text
    h1 About
    p Schedulenaut is an&nbsp;
        a(href="http://github.com/jssolichin/schedulenaut") open source
        |  project and idea born out of the need to schedule meetings and events more effectively; who doesn’t have to schedule with someone? Although there are many tools to help use meetings and run events more efficiently, there is surprisingly a lack of solutions to make those meetings and events happen.
    p
        a(href="http://blog.schedulenaut.com/competitive-analysis/") Presently
        | , you either have to have everyone on the same workflow, do it manually (leaving one person with the headache), or use an app that is so manual it might as well be an excel table! Why should scheduling meetings and events be a headache?
    p Our goal is to improve the lives of everyone by helping them focus on what is important: spending time with each other: whether it be in a business board room, or at the next big party.
    p Be productive and have fun! Schedule not.

    h2 The Team
    p You can read up on design and development decisions at the&nbsp;
        a(href="http://blog.schedulenaut.com") developer’s blog
        | .
    p Currently Schedulenaut is being developed by&nbsp;
        a(href="http://twitter.com/jssolichin") @jssolichin
        | . He would love your help in design and development to improve this problem plaguing everyone.
