//
   Created by Jonathan on 2/27/2015.

article.middle.clearfix
    h1 Yay! A time has been chosen! 
    //TODO:
        h2 Share with your friends!
            ul
                li facebook
                li twitter
        h3 Notify all attendees?
            ul 
                li list of who is available
        h3 Ask to reopen?
