//
   Created by Jonathan on 2/27/2015.

#event
    header
        .middle
            h1(editable-text="event.name" onaftersave="updateEvent()") {{event.name || "Add an Event Name" }}
            p(editable-text="event.description" onaftersave="updateEvent()") {{event.description || "Add a Description"}}
    article.middle.clearfix
        section#toolbar
            ul.clearfix
                li
                    a.button + Timezone
                li
                    select(ng-model="selectedGranularity" ng-options="granularity.value as granularity.name for granularity in optionGranularity")
        section#main.left
            .calendar( calendar dates="dates" granularity="selectedGranularity" height="30" on-end="endBrush" all-layers="allLayers" active-layer-id="activeLayerId")
        section#sidebar.right
            aside#users
                header Guests
                article
                    ul
                        li
                            a(editable-text="user.name" onaftersave="createUser()")
                                | {{ user.name || "+ Add user" }}
                        li.clearfix(ng-repeat="user in users")
                            .name.left {{user.name}}
                            .tools.right
                                a.button(ng-click="editUser()") edit
                                a.button(ng-click="deleteUser()") delete

