//
   Created by Jonathan on 2/27/2015.

#event
    header(droplet save-drops ng-model="interface" style="background-image: url({{event.image}})")
        .middle
            #hint-add-cover
                i.icon.ion-image.right
                span + Cover Image
                input(type="file" droplet-upload-single ng-model="interface")
            h1(editable-text="event.name" onaftersave="updateEvent()") {{event.name || "Add an Event Name" }}
            p(editable-text="event.description" onaftersave="updateEvent()") {{event.description || "Add a Description"}}
            p(editable-text="event.location" onaftersave="updateEvent()") {{event.location || "Add a Location"}}
        #drop-hint-wrapper
            #drop-hint
                h1
                    i.icon.ion-image
                h1 + Add Cover Image
    article.middle.clearfix
        section#main.left
            section#toolbar
                ul.clearfix
                    li.left
                        a.button(ng-click="addTimezone()") + Timezone
                    li.left
                        select(ng-model="selectedGranularity" ng-options="granularity.value as granularity.name for granularity in optionGranularity")
                    li.clearfix.right
                        span.left Default Brush:
                        ul.combo-button.right
                            li
                                a.button(ng-click="changeBrushPreference()" ng-class="{on: preferred != true}")
                                    span.symbol.free
                                    | Available
                            li
                                a.button(ng-click="changeBrushPreference()" ng-class="{on: preferred == true}")
                                    span.symbol.preferred
                                    | Preferred
            section#visualization
                .calendar( calendar preferred="preferred" on-timezone-change="updateEvent" timezones="timezones" dates="dates" granularity="selectedGranularity" height="30" on-end="endBrush" all-layers="allLayers" active-layer-id="activeLayerId")
                a#edit-dates-button.center.button
                    i.icon.ion-ios-settings
                    | Edit Possible Dates
                .popover-wrapper#edit-dates(attach-to="#edit-dates-button" point-to="top" callback="runDatepicker")
                    #datepicker
        section#sidebar.right
            aside#users
                header Guests
                article
                    ul
                        li.clearfix(ng-repeat="user in users" ng-class="{hover: isUsersBlockHovered()}" ng-mouseenter="highlightUserBlocks()" ng-mouseleave="dehighlightUserBlocks()")
                            .name.left {{user.name}}
                            .tools.right
                                a(ng-click="hideUser($index)" )
                                    i.icon.ion-eye(ng-class="{'ion-eye-disabled': allLayers[$index].visible == false}")
                                a#edit(ng-class="{'active': activeLayerId == $index }" ng-click="editHandler($index)")
                                    i.icon.ion-edit
                                a(ng-click="deleteUser()")
                                    i.icon.ion-close
                            .popover-wrapper(open-listener="open-{{$index}}" close-listener="close-{{$index}}" click-on="false" point-to="top" offset-y="0" width=" 200" ng-attr-id="{{'popover-user-'+$index}}" padding="10")
                                form(name="user_password" )
                                    label(for="secret") Secret Word
                                    input#secret(type="password" name="secret" ng-model="secretWord")
                                    button.center(type="submit" value="submit" ng-click="editUser(user, secretWord, $index); secretWord=''") Submit
                        li.addGuest#addGuest
                            a.button.center + Add Guests
                            .popover-wrapper(point-to="top" callback="")
                                form(name="new_user" )
                                    label(for="user") Name
                                        span *
                                    input(type="text" name="user" ng-model="newUser.name" placeholder="Used to identify" required)
                                    label(for="secret") Secret word
                                        span *
                                    input(type="password" name="secret" ng-model="newUser.secret" placeholder="Used to edit later" required)
                                    label(for="email") E-mail
                                        span *
                                    input(type="email" name="email" ng-model="newUser.email" placeholder="Used to notify" required)
                                    .error-container(ng-show="new_user.email.$dirty && new_user.email.$invalid")
                                        .error(ng-show="new_user.email.$error.email") Please enter a valid email
                                    button.center(type="submit" value="submit" ng-click="createUser(); new_user.$setPristine()" ng-disabled="new_user.$invalid") Add Guest!
                            // a(editable-text="user.name" onaftersave="createUser()")
                                | {{ user.name || "+ Add Guest" }}
            aside#discussion
                header Discussion
                article
                    p.hint(ng-hide="messages.data.length > 0") It's lonely in here. Ask for chips and salsa. They always liven up meetings!
                    h2(ng-show="messages.star.length > 0") Important messages
                    ul(ng-show="messages.data.length > 0")
                        li(ng-repeat="id in messages.star" ng-click="bounce('#message-'+id)")
                            a {{messages.data[id].content}}
                    h2(ng-show="messages.data.length > 0") Latest
                    ul
                        li.clearfix(ng-repeat="message in messages.data track by message.id" id="message-{{message.id}}" title="{{message.timestamp | date:'short'}}")
                            span.user {{users[message.user].name}}
                            | {{message.content}}
                            .right
                                i.icon.ion-ios-star-outline(ng-click="starIt(message.id); updateDiscussion()" ng-show="message.star == undefined ||!message.star")
                                i.icon.ion-ios-star(ng-click="starIt(message.id); updateDiscussion()" ng-show="message.star")
                        li
                            div.loginRequired(ng-click="bounce('#users')" ng-show="activeLayerId == undefined") Please activate your user to send message
                            form#newMessage(name="new_message" ng-hide="activeLayerId == undefined")
                                input(type="text" ng-model="newMessage.content" placeholder="Sending as {{users[activeLayerId].name}}" required)
                                button.center(type="submit" value="submit" ng-click="sendMessage(); new_message.$setPristine()" ng-disabled="new_message.$invalid") Send!
