//
   Created by Jonathan on 2/27/2015.

#event
    header(droplet save-drops ng-model="interface" style="background-image: url({{event.image}})")
        .middle.clearfix
            .left
                ul#event-details
                    li
                        h1(editable-text="event.name" onaftersave="updateEvent()" edit-disabled="!isEditEnabled()" ) {{event.name || "Add an Event Name" }}
                    li
                        p(editable-text="event.description" onaftersave="updateEvent()" edit-disabled="!isEditEnabled()" ) {{event.description || "Add a Description"}}
                    li#event-detail-location
                        p.left(editable-text="event.location" onaftersave="updateEvent()" edit-disabled="!isEditEnabled() || event.details_confirmed.location" ) {{event.location || "Add a Location"}}
                        span.right.details-lock(ng-click="lockLocation()")
                            i.icon.ion-locked(ng-show="event.details_confirmed.location")
                            i.icon.ion-unlocked(ng-hide="event.details_confirmed.location")
                    li#event-detail-time
                        p#event-time-picker.clearfix(name="event_time")
                            span.left(ng-show="!event.details_confirmed.time ")
                                input.left.date.start(type="text" placeholder="Start Date")
                                input.left.time.start(type="text" placeholder="Start Time")
                                span.left &nbsp;to&nbsp;
                                input.left.time.end(type="text" placeholder="End Time")
                                input.left.date.end(type="text" placeholder="End Date")
                            span.left(ng-show="event.details_confirmed.time")
                                | {{event.time.startTime | date:'short'}} - {{event.time.endTime | date:'short'}}
                            span.right.details-lock(ng-click="lockTime()")
                                i.icon.ion-locked(ng-show="event.details_confirmed.time")
                                i.icon.ion-unlocked(ng-hide="event.details_confirmed.time")
            ul.right#event-tools
                li#event-status(ng-class="{finalized: !event.open}")
                    ul.combo-button.right
                        li
                            a.button(ng-click="finalizeEvent()" ng-class="{on: event.open}" ng-hide="!event.open")
                                | In Discussion
                        li
                            a.button(ng-click="finalizeEvent()" ng-class="{on: !event.open, alone: !event.open}")
                                i.icon.ion-checkmark-circled(ng-hide="event.open")
                                | Finalized
                li(ng-if="event.open" )
                    .hint.right#event-settings(ng-class="{'active': adminAuthenticated}" )
                        i.icon.ion-gear-a.right
                        span + Event Settings 
                    .popover-wrapper(point-to="top" callback="" offset-y="10" click-on="#event-settings" width="175")
                        form(name="set_event_admin_password" ng-if="event.admin_pass == undefined && adminAuthenticated != true")
                            div.grey-small-hint No administrator secret word set. 
                            label(for="secret") Add Secret Word
                                span *
                            input(type="password" name="secret" ng-model="admin_pass" placeholder="Used to edit event settings later" required)
                            button.center(type="submit" value="submit" ng-click="$parent.adminAuthenticated = true;updateEvent({admin_pass: admin_pass}); " ng-disabled="set_event_admin_password.$invalid") Submit
                            //correctly set adminAuthenticated
                        form(name="check_event_admin_password" ng-if="event.admin_pass != undefined && adminAuthenticated != true")
                            label(for="secret" ) Secret Word
                                span *
                            input(type="password" name="secret" ng-model="admin_pass" placeholder="" required)
                            button.center(type="submit" value="submit" ng-click="checkAdminPass(event.id, admin_pass, $event); " ng-disabled="check_event_admin_password.$invalid") Submit
                        form.small-labels(name="event_settings" ng-show="adminAuthenticated")
                            span Allow everyone to: 
                            label(for="editable-everyone") Edit Event Details: 
                                input(type="checkbox" name="editable-everyone" ng-model="event.event_settings.editableEveryone" ng-click="updateEvent({event_settings: event.event_settings}); ")
                            label(for="invite-everyone") Edit Guests:  
                                input(type="checkbox" name="invite-everyone" ng-model="event.event_settings.inviteEveryone" ng-click="updateEvent({event_settings: event.event_settings});")
                            label(for="timezone-everyone") Edit Timezones:  
                                input(type="checkbox" name="timezone-everyone" ng-model="event.event_settings.timezoneEveryone" ng-click="updateEvent({event_settings: event.event_settings});")
                            label(for="available-dates-everyone") Edit Available Dates:  
                                input(type="checkbox" name="available-dates-everyone" ng-model="event.event_settings.availableDatesEveryone" ng-click="updateEvent({event_settings: event.event_settings});")
                li(ng-if="event.open")
                    .hint.right
                        i.icon.ion-image.right
                        span + Cover Image
                        input(type="file" droplet-upload-single ng-model="interface")
        #drop-hint-wrapper
            #drop-hint
                h1
                    i.icon.ion-image
                h1 + Add Cover Image
    div(ui-view='content')
