//Landing Page Demo
form(name="eventForm" ng-submit="submitData(event)" novalidate)
    label(for="Name")
    input(type="input" name="name" ng-model="event.name" placeholder="Create a new event..." required)
    label(for="Description")
    input(type="input" name="description" ng-model="event.description" placeholder="Event Description")
    #calendar
    button(type="submit" value="submit" ng-disabled="eventForm.$invalid || event.dates == undefined || event.dates.length < 1" ) Create Event

