.calendar { position: relative;
  background: #eee; border-radius: @radius;
  tbody {background: #fff}
  table {border-collapse: collapse; width: 100%;
    td,th {border-bottom: 1px solid #ccc; position: relative; font-size: .8em; ; text-transform: uppercase; padding: 0 5px;
      &:last-child {text-align: center; padding: 0px;}
      .scheduler-popover-wrapper{ position: absolute; z-index: 99;
        .popover {padding: 20px; width: 300px; position: relative; left: -50%; background: #fff; border-radius: @radius; box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
          .time-picker { margin: 0 0 20px 0;
            span {margin: 0 10px;}
            .link-indicator {opacity: .4; font-size: 1.5em;}
            .link {opacity:1;}
            input {width: 30%; border-radius: @radius; border: 1px solid #ddd; padding: 5px;}
          }
          ul { margin: 0px; padding: 0px; list-style-type: none;
            ul > li{ float: left; margin-right: 5px;
              .delete {color: #F44336;
                &:hover {background: #FFEBEE; color: @red;}
              }
              &:last-child {margin-right: 0px;}
            }
          }
        }
        .popover:after { content: ""; position: absolute; width: 0; height: 0; border-width: 10px; border-style: solid; border-color: #fff transparent transparent transparent; bottom: -20px; left: calc(~"50% - 5px"); }
      }
    }
    thead {
      @headerStrokes: #ccc;
      th {border-bottom: 1px solid @headerStrokes; font-weight: bold;
        &:first-child > div {width: 100%; font-size: .8em;}
        .delete {color: #ccc;
          &:hover {color: @red;}
        }
      }
      text {fill: #333; }
      line {stroke: @headerStrokes;}
    }
    tbody{
      tr#hint {
        td {padding: 10px; text-align: left; text-transform: none;}
      }
      tr {
        &:last-child {
          td:first-child {border-bottom: 1px solid #ccc;}
        }
        td {
          &:first-child {border-bottom: 0px}
          &:first-child:not(:empty) {border-bottom: 1px solid #ccc;}
        }
      }
    }
  }

  #rule { border-left: 1px dotted #333; display: none; position: absolute; top: 0; bottom: 0;  pointer-events: none;
    #tooltip { left: -30px;position: absolute; background: #333; border-radius: @radius; padding: 2px 5px;
      white-space: nowrap; font-size: .7em; text-transform: uppercase; color: #fff; pointer-events: none;}
    #tooltip:after { top: 19px; left: 25px; border-width: 4px; border-color: #000 transparent transparent transparent;
      border-style: solid; position: absolute; content: ""; width: 0; height: 0;
    }
  }

  .brush, .brush-passive {shape-rendering: geometricPrecision;}
  .brush {
    rect { stroke : @accent; fill: @accent; fill-opacity: .33;}
    &.preferred rect {fill-opacity: 1;}
  }
  .brush-passive {fill-opacity:.33; fill: @green;
    &.preferred {fill-opacity: 1; fill: @green; }
  }
}

.select2-container .select2-choice {
  background-image: none;
  border: 1px solid #ccc;
}
.select2-container .select2-choice .select2-arrow {
  background-image: none; background: #eee;
  border-left: 1px solid #ccc;
}
.select2-drop {
  padding-top: 5px;
  border: 1px solid #ccc;
}
.select2-results .select2-highlighted {
  background: @accent;
}
.select2-container.select2-container-disabled .select2-choice {
  background: #eee;
  border: none;
}
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background: #eee;
  display: none;
}
