// Created by Jonathan on 2/16/2015.

table
    thead
        tr(ng-repeat="timezone in timezones track by $index" timezone-axis on-timezone-change="updateEvent" scale='x' height="height+10" width="width" timezone='timezone' tz-options='tzOptions')
            th(colspan="3")
                ui-select(ng-model="timezone.zone" on-select="onTimezoneChange()" theme="select2" ng-disabled='$last')
                    ui-select-match(placeholder="Choose a timezone") {{$select.selected}}
                    ui-select-choices(repeat="option in tzOptions | filter: $select.search" )
                        span(ng-bind-html="option")
            th.hover-time.axis
    tbody
        tr(ng-repeat="date in dates | orderBy: date")
            td(ng-if="$index == 0") {{date | date:'MMMM' }}
            td(ng-if="$index != 0") {{date | labelNewMonth:dates[$index-1] }}
            td {{date | date:'EEEE'}}
            td {{date | date:'dd'}}
            td.scrub.hover-time(scrub="date" granularity="granularity" width="width" height="height" on-end="onEnd" layers="transposed[$index]" active-layer-id="activeLayerId")
