// Created by Jonathan on 2/16/2015.

table
    thead
        tr(ng-repeat="timezone in timezones track by timezone.id" timezone-axis on-timezone-change="updateEvent" scale='x' height="height+10" width="width" timezone='timezone' tz-options='tzOptions')
            th(colspan="2")
                ui-select(ng-model="timezone.zone" on-select="onTimezoneChange()" theme="select2" ng-disabled='$last')
                    ui-select-match(placeholder="Choose a timezone") {{$select.selected}}
                    ui-select-choices(repeat="option in tzOptions| filter: $select.search" )
                        span(ng-bind-html="option")
            th
                a.delete(ng-hide="$last" ng-click="removeTimezone()")
                    i.icon.ion-close-circled
            th.hover-time.axis
    tbody
        tr#hint(ng-hide="dates.length > 0")
            td(colspan="3") Get Started
            td To schedule an event you must have some possible dates. Click on "Edit Dates" below to get started!
        tr(ng-repeat="date in dates | orderBy: date")
            td(ng-if="$index == 0") {{date | date:'MMMM' }}
            td(ng-if="$index != 0") {{date | labelNewMonth:dates[$index-1] }}
            td {{date | date:'EEE'}}
            td {{date | date:'dd'}}
            td.scrub.hover-time(scrub="date" preferred="preferred" granularity="granularity" width="width" height="height" on-end="onEnd" layers="transposed[$index]" active-layer-id="activeLayerId")
