div
	div#facebook-import
		div(ng-show="loggedIn == false")
			fb:login-button(scope="public_profile, email, user_events" onlogin="getLoginStatus()")
		div(ng-show="loggedIn")
			a.button(ng-click="getFacebookEvents('attending')") get Attending
			a.button(ng-click="getFacebookEvents('not_replied')") get Not Replied
	div#google-import
		div(ng-hide="googleLoggedIn")
			a.button#authorize-button(ng-click="handleAuthClick($event)") Log In Google
		div(ng-show="googleLoggedIn && gapiLoaded")
			a.button#authorize-button(ng-click="listUpcomingEvents()") Load Google Primary
			ul
				li(ng-repeat="calendar in googleCalendarList" ng-click="listUpcomingEvents(calendar.id)") {{calendar.backgroundColor}} {{calendar.summary}}


